{% extends 'travel_diary/base.html' %} {% load static %}{% block content %}

<h4>{{ destination.name }}</h4>
<div class="row">
  {% for entry in entries %}
  <div class="col">
    <div class="card" style="width: 400px">
      {% if entry.image %}
      <img
        class="card-img-top"
        src="{{ entry.image.url }}"
        alt="{{ entry.title }}"
        style="width: 100%"
      />
      {% endif %}
      <div class="card-body">
        <h4 class="card-title">{{ entry.title }}</h4>
        <p class="card-text">{{ entry.text }}</p>
      </div>
    </div>
    <br />
  </div>
  {%endfor%}
</div>
<br />

{% endblock %}
